<?xml version="1.0"?>
<!--
/**
 * @package     Solutionexcel_ExtendSearch
 * @author      SolutionExcel - https://www.solutionexcel.com/ - info@solutionexcel.com
 * @copyright   Copyright © 2018 SolutionExcel. All rights reserved.
 * @license     https://opensource.org/licenses/AFL-3.0  Academic Free License 3.0 | Open Source Initiative
**/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Search\Adapter\Mysql\Query\Builder\Match">
        <plugin name="extendsearch_sku_name_after" type="Solutionexcel\ExtendSearch\Plugin\Match"/>
    </type>
</config>
