<?xml version="1.0"?>
<!--
/**
 * @package     Solutionexcel_ExtendSearch
 * @author      SolutionExcel - https://www.solutionexcel.com/ - info@solutionexcel.com
 * @copyright   Copyright © 2018 SolutionExcel. All rights reserved.
 * @license     https://opensource.org/licenses/AFL-3.0  Academic Free License 3.0 | Open Source Initiative
**/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
		<solutionexcel_extendsearch>
			<general>
				<enable>1</enable>
			</general>
		</solutionexcel_extendsearch>
    </default>
</config>
