<?xml version="1.0"?>
<!--
/**
 * @package     Solutionexcel_Core
 * @author      SolutionExcel - https://www.solutionexcel.com/ - info@solutionexcel.com
 * @copyright   Copyright © 2018 SolutionExcel. All rights reserved.
 * @license     https://opensource.org/licenses/AFL-3.0  Academic Free License 3.0 | Open Source Initiative
**/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
		<tab id="solutionexcel" translate="label" sortOrder="65">
            <label>Solution Excel</label>
        </tab>
        <section id="solutionexcelcore" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>SolutionExcel Core</label>
            <tab>solutionexcel</tab>
            <resource>Solutionexcel_Core::solutionexcel_settings</resource>  
            <group id="general" translate="label"  sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <comment></comment>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment></comment>
                </field>
            </group>  

        </section>
    </system>
</config>